In [1]:
# Versão da Linguagem Python
from platform import python_version
print('Versão de Python Neste Jupyter Notebook:', python_version())

# usaremos o filtro 'warning' para deixar mais limpo.
import warnings
warnings.filterwarnings('ignore')

import pandas as pd
import numpy as np

Versão de Python Neste Jupyter Notebook: 3.10.5

#### 1. How to import pandas and check the version?

In [2]:
print(pd.__version__)
print(pd.show_versions(as_json=True))

1.4.3
{
  "system": {
    "commit": "e8093ba372f9adfe79439d90fe74b0b5b6dea9d6",
    "python": "3.10.5.final.0",
    "python-bits": 64,
    "OS": "Windows",
    "OS-release": "10",
    "Version": "10.0.19044",
    "machine": "AMD64",
    "processor": "Intel64 Family 6 Model 126 Stepping 5, GenuineIntel",
    "byteorder": "little",
    "LC_ALL": null,
    "LANG": null,
    "LOCALE": {
      "language-code": "pt_BR",
      "encoding": "cp1252"
    }
  },
  "dependencies": {
    "pandas": "1.4.3",
    "numpy": "1.23.0",
    "pytz": "2022.7.1",
    "dateutil": "2.8.2",
    "setuptools": "58.1.0",
    "pip": "22.2",
    "Cython": null,
    "pytest": null,
    "hypothesis": null,
    "sphinx": null,
    "blosc": null,
    "feather": null,
    "xlsxwriter": null,
    "lxml.etree": "4.9.1",
    "html5lib": "1.1",
    "pymysql": null,
    "psycopg2": null,
    "jinja2": "3.1.2",
    "IPython": "8.4.0",
    "pandas_datareader": "0.10.0",
    "bs4": "4.11.1",
    "bottleneck": null,
    "brotli": null,
    "fastparquet": null,
    "fsspec": null,
    "gcsfs": null,
    "markupsafe": "2.1.1",
    "matplotlib": "3.5.2",
    "numba": "0.56.4",
    "numexpr": null,
    "odfpy": null,
    "openpyxl": "3.0.10",
    "pandas_gbq": null,
    "pyarrow": null,
    "pyreadstat": null,
    "pyxlsb": null,
    "s3fs": null,
    "scipy": "1.8.1",
    "snappy": null,
    "sqlalchemy": "1.4.39",
    "tables": null,
    "tabulate": null,
    "xarray": null,
    "xlrd": null,
    "xlwt": null,
    "zstandard": null
  }
}None

#### 2. How to create a series from a list, numpy array and dict?

In [3]:
mylist = list('abcedfghijklmnopqrstuvwxyz')
myarr = np.arange(26)
mydict = dict(zip(mylist, myarr))

#### 3. How to convert the index of a series into a column of a dataframe?

In [4]:
# Input
mylist = list('abcedfghijklmnopqrstuvwxyz')
myarr = np.arange(26)
mydict = dict(zip(mylist, myarr))
ser = pd.Series(mydict)

In [5]:
# Solution
df = ser.to_frame().reset_index()
print(df.head())

  index  0
0     a  0
1     b  1
2     c  2
3     e  3
4     d  4

#### 4. How to combine many series to form a dataframe?

In [6]:
# Input
ser1 = pd.Series(list('abcedfghijklmnopqrstuvwxyz'))
ser2 = pd.Series(np.arange(26))

In [7]:
# Solution 1
df = pd.concat([ser1, ser2], 
               axis = 1)

In [8]:
# Solution 2
df = pd.DataFrame({'col1': ser1, 
                   'col2': ser2})

print(df.head())

  col1  col2
0    a     0
1    b     1
2    c     2
3    e     3
4    d     4

#### 5. How to assign name to the series’ index?

In [9]:
# Input
ser = pd.Series(list('abcedfghijklmnopqrstuvwxyz'))

In [10]:
# Solution
ser.name = 'alphabets'
ser.head()

0    a
1    b
2    c
3    e
4    d
Name: alphabets, dtype: object

#### 6. How to get the items of series A not present in series B?

In [11]:
# Input
ser1 = pd.Series([1, 2, 3, 4, 5])
ser2 = pd.Series([4, 5, 6, 7, 8])

In [12]:
# Solution
ser1[~ser1.isin(ser2)]

0    1
1    2
2    3
dtype: int64

#### 7. How to get the items not common to both series A and series B?

In [13]:
# Input
ser1 = pd.Series([1, 2, 3, 4, 5])
ser2 = pd.Series([4, 5, 6, 7, 8])

In [14]:
# Solution
ser_u = pd.Series(np.union1d(ser1, ser2)) # union
ser_i = pd.Series(np.intersect1d(ser1, ser2)) # intersect
ser_u[~ser_u.isin(ser_i)]

0    1
1    2
2    3
5    6
6    7
7    8
dtype: int64

#### 8. How to get the minimum, 25th percentile, median, 75th, and max of a numeric series?

In [15]:
# Input
state = np.random.RandomState(100)
ser = pd.Series(state.normal(10, 5, 25))

In [16]:
# Solution
np.percentile(ser, q=[0, 25, 50, 75, 100])

array([ 1.25117263,  7.70986507, 10.92259345, 13.36360403, 18.0949083 ])

#### 9. How to get frequency counts of unique items of a series?

In [17]:
# Input
ser = pd.Series(np.take(list('abcdefgh'), np.random.randint(8, size=30)))

In [18]:
# Solution
ser.value_counts()

c    8
a    5
g    4
f    4
b    4
e    2
d    2
h    1
dtype: int64

#### 10. How to keep only top 2 most frequent values as it is and replace everything else as ‘Other’?

In [19]:
# Input
np.random.RandomState(100)
ser = pd.Series(np.random.randint(1, 5, [12]))

In [20]:
# Solution
print("Top 2 Freq:", ser.value_counts())
ser[~ser.isin(ser.value_counts().index[:2])] = 'Other'
ser

Top 2 Freq: 4    5
1    3
2    2
3    2
dtype: int64

0         4
1     Other
2         1
3         4
4         4
5         1
6     Other
7         1
8     Other
9         4
10        4
11    Other
dtype: object

#### 11. How to bin a numeric series to 10 groups of equal size?

In [21]:
# Input
ser = pd.Series(np.random.random(20))
print(ser.head())

0    0.719328
1    0.331668
2    0.401318
3    0.624533
4    0.824787
dtype: float64

In [22]:
# Solution
pd.qcut(ser, q=[0, .10, .20, .3, .4, .5, .6, .7, .8, .9, 1],
        labels = ['1st', '2nd', '3rd', '4th', '5th', '6th', '7th', '8th', '9th', '10th']).head()

0    8th
1    4th
2    4th
3    6th
4    9th
dtype: category
Categories (10, object): ['1st' < '2nd' < '3rd' < '4th' ... '7th' < '8th' < '9th' < '10th']

#### 12. How to convert a numpy array to a dataframe of given shape?

In [23]:
# Input
ser = pd.Series(np.random.randint(1, 10, 35))

In [24]:
# Solution
df = pd.DataFrame(ser.values.reshape(7,5))
print(df)

   0  1  2  3  4
0  3  4  4  6  9
1  2  8  3  2  9
2  6  2  9  1  1
3  9  1  4  3  1
4  2  7  1  4  2
5  6  4  5  7  1
6  2  6  5  8  2

#### 13. How to find the positions of numbers that are multiples of 3 from a series?

In [25]:
# Input
ser = pd.Series(np.random.randint(1, 10, 7))
ser

0    9
1    5
2    4
3    8
4    5
5    8
6    9
dtype: int32

In [26]:
# Solution
print(ser)
np.where(ser % 3==0)

0    9
1    5
2    4
3    8
4    5
5    8
6    9
dtype: int32

(array([0, 6], dtype=int64),)

#### 14. How to extract items at given positions from a series

In [27]:
# Input
ser = pd.Series(list('abcdefghijklmnopqrstuvwxyz'))
pos = [0, 4, 8, 14, 20]

In [28]:
# Solution
ser.take(pos)

0     a
4     e
8     i
14    o
20    u
dtype: object

#### 15. How to stack two series vertically and horizontally ?

In [29]:
# Input
ser1 = pd.Series(range(5))
ser2 = pd.Series(list('abcde'))

In [30]:
# Output
# Vertical
ser1.append(ser2)

# Horizontal
df = pd.concat([ser1, ser2], axis=1)
print(df)

   0  1
0  0  a
1  1  b
2  2  c
3  3  d
4  4  e

#### 16. How to get the positions of items of series A in another series B?

In [31]:
# Input
ser1 = pd.Series([10, 9, 6, 5, 3, 1, 12, 8, 13])
ser2 = pd.Series([1, 3, 10, 13])

In [32]:
# Solution 1
[np.where(i == ser1)[0].tolist()[0] for i in ser2]

[5, 4, 0, 8]

In [33]:
# Solution 2
[pd.Index(ser1).get_loc(i) for i in ser2]

[5, 4, 0, 8]

#### 17. How to compute the mean squared error on a truth and predicted series?

In [34]:
# Input
truth = pd.Series(range(10))
pred = pd.Series(range(10)) + np.random.random(10)

In [35]:
# Solution
np.mean((truth-pred)**2)

0.2989833508085071

#### 18. How to convert the first character of each element in a series to uppercase?

In [36]:
# Input
ser = pd.Series(['how', 'to', 'kick', 'ass?'])

In [37]:
# Solution 1
ser.map(lambda x: x.title())

0     How
1      To
2    Kick
3    Ass?
dtype: object

In [38]:
# Solution 2
ser.map(lambda x: x[0].upper() + x[1:])

0     How
1      To
2    Kick
3    Ass?
dtype: object

In [39]:
# Solution 3
pd.Series([i.title() for i in ser])

0     How
1      To
2    Kick
3    Ass?
dtype: object

#### 19. How to calculate the number of characters in each word in a series?

In [40]:
# Input
ser = pd.Series(['how', 'to', 'kick', 'ass?'])

In [41]:
# Solution
ser.map(lambda x: len(x))

0    3
1    2
2    4
3    4
dtype: int64

#### 20. How to compute difference of differences between consequtive numbers of a series?

In [42]:
# Input
ser = pd.Series([1, 3, 6, 10, 15, 21, 27, 35])

In [43]:
# Solution
print(ser.diff().tolist())
print(ser.diff().diff().tolist())

[nan, 2.0, 3.0, 4.0, 5.0, 6.0, 6.0, 8.0]
[nan, nan, 1.0, 1.0, 1.0, 1.0, 0.0, 2.0]

In [44]:
%reload_ext watermark
%watermark -a "Caique Miranda" -gu "caiquemiranda" -iv

Author: Caique Miranda

Github username: caiquemiranda

numpy : 1.23.0
pandas: 1.4.3